.index{
    .index-heading{
        margin-bottom: 20px;
        text-align: center;
        font-size: 45px;
    }
    span{
        display: inherit;
        text-align: center;
        font-size: 24px;
    }
}