/*  
    La classe question-2 est sélectionnée juste pour éviter un conflit 
    de style avec le reste du test. Le SCSS fonctionne très bien sans.
*/
.question-2 div{
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;

    &:before{
        content: "\2605";
        position: absolute;
        left: -36px;
        top: 15px;
        
        font-size: 52px;
        line-height: 0;
        color: orange;
    }

    h1{
        margin-left: 20px;
        text-transform: uppercase;
        color: grey;
        letter-spacing: -1px;

        &:first-letter{
            color: blue;
        }
    }

    ul{
        position: relative;
        display: grid;
        grid: repeat(4, auto) / auto-flow 50%;
        padding: 5px 25px;
        
        list-style: none;
        background-color: #f9f9f9;

        &:after{
            content: "";
            position: absolute;
            top: calc(-50% + 10px);
            right: -10px;
            display: block;
            width: 80px;
            height: 60px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../src/img/html-icon.png);
        }
        
        li{
            
            &:nth-child(2){
                &:before {
                    opacity: .1;
                }
            }
            &:nth-child(4){
                color: limegreen;
            }

            &:nth-last-child(n + 5) {
                &:before{
                    content: "\2022";
                    color: red;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
            &:nth-last-child(-n + 4) {
                &:before{
                    content: "-";
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
    }
}